<ion-view view-title="Players">
  <ion-header-bar class="bar-light bar-subheader">
    <div class="general">
      <button class="button button-positive" ng-click="addPlayerClicked()" ng-show="!isNewPlayerActive"><i class="icon ion-plus-round"></i></button>
      <button class="button button-royal" ng-click="save()">SAVE</button>
      <button class="button button-balanced" ng-click="select()" ng-show="players.length">SELECT</button>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" ng-model="model.numberOfPlayersInTeam" placeholder="Number of people in a team" class="numberofpeople" required/>
        </label>
      </div>
    </div>
  </ion-header-bar>
  <ion-content has-header="true" has-subheader="true">
    <ion-list>
      <ion-item ng-repeat="player in players | orderBy : 'name' | filter:{name :search} " type="item-text-wrap">
        <ion-checkbox ng-checked="player.selected" ng-model="player.selected" ng-show="!player.isPlayerEdited">
          {{player.name}} <input type="text" ng-model="player.rank"/>
        </ion-checkbox>
        <div class="item item-input-inset" ng-show="player.isPlayerEdited">
          <label class="item-input-wrapper">
            <input type="text" ng-model="player.name" focus-me="player.isPlayerEdited"/>
          </label>
          <button class="button button-small" ng-click="editPlayerSave(player)">
            Done
          </button>
        </div>
        <ion-option-button class="button-balanced icon ion-edit" ng-click="editPlayer(player)"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deletePlayer(player)"></ion-option-button>
      </ion-item>
      <div class="item item-input-inset" ng-show="isNewPlayerActive">
        <label class="item-input-wrapper">
          <input type="text" ng-model="model.newPlayer" focus-me="isNewPlayerActive"/>
        </label>
        <button class="button button-small" ng-click="addPlayer()">
          Add
        </button>
      </div>


    </ion-list>
  </ion-content>
</ion-view>
