<ion-view view-title="Team">
  <ion-header-bar class="bar-light bar-subheader">
    <button class="button button-royal" ng-click="shuffle()">Shuffle</button>
  </ion-header-bar>
  <ion-content has-header="true" has-subheader="true">
    <ion-list>
      <ion-item ng-repeat="player in config.playersList" type="item-text-wrap">
        <h3>{{player.name}}</h3>
        <div class="rank">
          <input type="number" min="0" max="10" ng-model="player.rank" placeholder="Rank" required />
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
