/* Empty. Add your own CSS if you like */
.buttons{
  float:right;
}

.actions button {
  margin-left: 20px;
}

.general .button-balanced {
  float: right;
}

.list.team{
  margin-top: 44px;
}
.numberofpeople{
  width: 100%;
}
