/* Empty. Add your own CSS if you like */
.buttons {
  float: right;
}

.actions button {
  margin-left: 20px;
}

.item-input {
  width: 100%;
  height: 34px;
  margin: 0;
}

.subHeader {
  top: 45px;

}

.subHeader.team {
  padding: 0;
}

.subHeader.team .item-input-inset {
  margin-right: 0;
  width: 100%;
}

.has-header {
  top: 89px;
}

.general .button-balanced {
  float: right;
}

.checkbox {
  width: 100%;
  display: inline-block;
  line-height: 25px;
}

.checkbox input {
  float: left;
  margin-right: 15px;
}

.button {
  z-index: 1;
  padding: 0 8px;
  min-width: initial;
  min-height: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
}

.editItem {
  width: 100%;
  display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-content {
  padding: 16px !important;
}

.button::before {
  line-height: 32px !important;
}

.ion-arrow-left-a::before {
  margin: 0 !important;
}

.rankItem.header {
  background: #E6E6FA;

}

.rankItem h3 {
  float: left;
  width: 85%;
}

.rankItem .rank {
  float: left;
  width: 15%;
}

.btn-whatsapp {
  color: #0DC143;
}

.btn-whatsapp:hover {
  color: #0DC143;
}

.results .message {
  line-height: 34px;
  margin-left: 20px;
}

.normalItem h3 {
  margin-top: 6px;
}

.rankItem .rank input {
  border: 1px solid #eeeeee;
  text-align: center;
}

.list.team {
  margin-top: 44px;
}

.results .list.team {
  margin-top: 89px;
}

.numberofpeople {
  width: 100%;
  margin: 0;
  padding-left: 5px;

}
